* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

/*header fonts*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'MuseoModerno', serif;
}

#landing-jumbo {
  height: 75vh;
  display: flex;
  /*color: #fff;*/
  background-color: #6eb4d1;
  text-align: center;
  align-items: center;
}

#landing-jumbo p {
  margin-bottom: 50px;
}

a {
  background-color: #6cbeed;
  padding: 15px;
  color: black;
  border-radius: 5px;
}

.no-underline {
  text-decoration: none !important	;
}

a:hover {
  background-color: #58b5ea;
}

body {
  background-color: #cbd1d6;
}

#cap h2,
#contact-dev h2 {
  padding: 40px 0;
}

#map,
#contact-info {
  padding-bottom: 15px;
}

#cap-info {
  /*background-color: blue;*/
  background-color: #448fa6;
  margin-bottom: 40px;
}

#cap-info h5 {
  margin-bottom: 20px;
}

footer {
  margin: auto;
  text-align: center;
  background-color: #afcbff;
}

#contact-dev {
  /*	display: flex;
	justify-content: center;*/
  margin-bottom: 20px;
  text-align: center;
  background-color: #748cab;
}

/*small devices*/
@media (min-width: 576px) {
  /*	#landing-jumbo {
		background-color: #1B3B6F;
	}*/
}

/*medium devices*/
@media (min-width: 768px) {
  /*	#landing-jumbo {
		background-color: #798086;
	}*/
}

/*desktop*/
@media (min-width: 1200px) {
  /*	#landing-jumbo {
		background-color: #3E5C76;
	}	*/
}

iframe {
  width: 100%;
}

.text-box {
  padding: 0 10px 10px 10px;
}

button {
  padding: 9px 35px;
  margin-top: 35px;
  border-radius: 5px;
  background-color: #0275d8;
  display: flex;
  align-self: flex-star;
  border: 2px solid darkgray;
  color: #eee;
}

button:hover {
  background-color: #0264ba;
}
