* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Ubuntu', sans-serif;*/
}

/*header fonts*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather Sans', sans-serif;
  /*font-family: 'MuseoModerno', serif;*/
}

.jumboText {
  color: #4F7CAC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center !important;*/
}

#landing-jumbo {
  height: 100vh;
  display: flex;
  /*color: #fff;*/
  /*background-color: #4f7cac;*/
  text-align: center;
  align-items: center;
  color: white;
  /*margin-bottom: 60px;*/

}

/*#landing-jumbo p {
  margin-bottom: 50px;
}
*/
#landing-jumbo {
  /*background-image: url('../images/bg.jpg');*/
  background-image: url('../images/jumboImage.svg');
  /*background-size: cover;*/
  /*background-color: white;*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bgColor {
  background-color: white;
/*  border-bottom-style: solid;
  border-bottom-color: lightgray;*/
  margin-bottom: 80px !important; 
}

a {
  background-color: #e8c547;
  padding: 15px;
  color: black;
  border-radius: 5px;
  color: white;
}

.no-underline {
  text-decoration: none !important	;
}

a:hover {
  background-color: #d1b75c;
  color: white;
}

.buttonClick {
  background-color: #e8c547;
  /*padding: 15px;*/
  color: white;
  border-radius: 5px;
  /*margin-bottom: 100px;*/
}

.buttonClick:hover {
  background-color: #d1b75c;
  color: white;
}

.buttonJumbo {
  width: 180px !important;
}

body {
  /*background-color: #cbd1d6;*/
  background-color: white;
}

/*#cap h2,*/
#contact-dev h2 {
  padding: 40px 0;
}

#cap {
  /*margin-bottom: 50px;*/
  background-color: #4f7cac;

}

.capOne {
  margin-left: 0px !important; 
}

.capTwo {
  margin-right: 0px !important; 
}


#map,
#contact-info {
  padding-bottom: 50px;
}

#cap-info {
  /*background-color: blue;*/
  /*background-color: #4f7cac;*/
  margin-bottom: 40px;
  color: white;
}

#cap-info h5 {
  margin-bottom: 20px;
}

.capRow {
  margin-bottom: 60px;
}

footer {
  position: bottom;
  right: 0;
  bottom: 0;
  padding-top: 15px;
  padding-bottom: 2px;
  left: 0;
  text-align: center;
  background-color: #4f7cac;
  color: white;
}

#contact-dev {
  /*	display: flex;
	justify-content: center;*/
  margin-bottom: 80px;
  text-align: left;
  background-color: #4f7cac;
  color: white;
  /*width: 85.7%;*/
  border-radius: 5px;
}

#coursesContainer {
  margin-bottom: 80px;
}

iframe {
  width: 100%;
}

.text-box {
  padding: 0 10px 10px 10px;
}

@media (max-width: 575.98px) {

  #landing-jumbo {
    height: 50vh;
  }  

  .jumboText {
    margin-top: 50px;
  }

  #landing-jumbo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

}

/*.form-elements {*/
/*  display: flex;
  flex-direction: column;*/
  /*justify-content: left;*/
  /*align-content: space-around;*/
  /*height: 100%;*/
/*}*/


/*button {
  padding: 9px 35px;
  margin-top: 35px;
  border-radius: 5px;
  background-color: #e8c547;
  display: flex;
  align-self: flex-star;
  border: 2px solid darkgray;
  color: #eee;
}

button:hover {
  background-color: #d1b75c;
}*/

